$media-sm: 576px;
$media-sm-1: 575px;

$media-md: 768px;
$media-md-1: 767px;

$media-lg: 1024px;
$media-lg-1: 1023px;

$media-xl: 1200px;
$media-xl-1: 1199px;

$media-xxl: 1400px;
$media-xxl-1: 1399px;